cs_api_key: >-
  eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzM4NCJ9.eyJjcmVhdG9yTG9naW4iOiJhdXRoMHw1YTFjMWM3N
  GM1YzE1NzdkNDFkMjAxNDciLCJkaXNwbGF5TmFtZSI6Inlhbm5idG1wIChvbiBiZWhhbGYgb2YgWWF
  ubiBCaXpldWwpIiwicm9sZXMiOltdLCJpc3MiOiJvY2kiLCJuYW1lIjoieWFubmJ0bXAiLCJhcGkiO
  iJ0cnVlIiwiZXhwIjoxNjc2OTA0NjY1LCJsb2dpbiI6IjkwZWZhYTJiLTI0NGQtNDVmMi1iYzg4LWY
  4MmU1Mjk0ZThmMSIsImlhdCI6MTY3NjgxODI2NSwidGVuYW50IjoiMGYwMzNjZjAtY2QzZS00NjdmL
  WI2NjItMjg0ZTU0ZDViZmE0In0.7fgcOycEyviJMQpDTlA20soONZyhSK-FJEjraZ66Czt3Wfk73IY
  eq1RoNKBdLcQJ
cs_api_endpoint: ps1234.cs10.cloudinsights.netapp.com